html {
  font-size: 10px;
  /* background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center; */
  background: url(https://elements-video-cover-images-0.imgix.net/files/231557732/preview.jpg?auto=compress&crop=edges&fit=crop&fm=jpeg&h=800&w=1200&s=141b73dfb608efc9d2926b2405759b26) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: white;
  border: solid black 5px;
  width: 500px;
  height: 50px;
  border-radius: .5rem;
  padding: 10px;
  margin-left: 25px;
  text-shadow: 0 0 .5rem black;
  text-align: center;
}

#h1_subtext {
  color: #ffc600;
  font-size: 14px;
}

h2 {
  color: #ffc600;
  border: solid black 5px;
  width: 400px;
  height: 27px;
  border-radius: .5rem;
  padding: 10px;
  margin-left: 25px;
  text-shadow: 0 0 .5rem black;
  text-align: center;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
